<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание теста</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container text-center">
        <input type="text" placeholder="Введите название теста" id='test_name' class="TextInput">
        <h1 class="Title">Введите вопросы теста</h1>
    </div>
    <div class="container text-center" id="questions">
    </div>
<div class="container text-center">
    <button class="Button ButtonAgree" data-toggle="modal" data-target="#questionModal">Добавить вопрос</button>
        <button class="Button ButtonAgree" id="save">Сохранить</button>
</div>
<!-- Modal -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ModalHeader">
                <h5 class="Title" id="exampleModalLabel" style="color: black">Сколько будет вариантов ответа?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="ButtonContainer text-center">
                <button type="button" class="btn btn-primary Button" onclick="addTwoAnswerQuestion()">Два</button>
                <button type="button" class="btn btn-primary Button" onclick="addThreeAnswerQuestion()">Три</button>
            </div>
        </div>
    </div>
</div>
<p class="LabelText" id='status' style="visibility: hidden">Тест сохранен! Вы можете выбрать его для отправки <a style='' href="/select_test">здесь</a></p>
</body>
<script>
    let container = document.getElementById('questions')
    let alreadyCreatedCount = 0;
    let save = document.getElementById('save')

    function getTextForOption(answerIndex, countOfOptions)
    {
        console.log(typeof countOfOptions)
        switch (countOfOptions)
        {
            case 2:
                switch (answerIndex)
                {
                    case 0:
                        return "Скорее да"
                    case 1:
                        return "Скорее нет"
                }
                break;
            case 3:
                switch (answerIndex)
                {
                    case 0:
                        return "Почти никогда"
                    case 1:
                        return "Иногда"
                    case 2:
                        return "Довольно часто"
                }
        }
    }
    function getPointsForOption(answerIndex, countOfOptions)
    {
        switch (countOfOptions)
        {
            case 2:
                switch (answerIndex)
                {
                    case 0:
                        return 10
                    case 1:
                        return 0
                }
                break;
            case 3:
                switch (answerIndex)
                {
                    case 0:
                        return 0
                    case 1:
                        return 5
                    case 2:
                        return 10
                }
        }
    }
    function renderAnswer(questionIndex, answerIndex, countOfOptions) {
        let value = getTextForOption(answerIndex, countOfOptions)
        let points = getPointsForOption(answerIndex, countOfOptions)
        let div = document.createElement('div');

        div.innerHTML = '<input type="text" id="question_' + alreadyCreatedCount + '__answer_' + answerIndex + '_text" class="TextInput" value="' + value + '"><input id="question_' + alreadyCreatedCount + '__answer_' + answerIndex + '_points" type="range" min="0" max="10" step="1" oninput="this.nextElementSibling.value = this.value" value="'+points+'" id="customRange1"><output class="LabelText">'+points+'</output>'
        return div;
    }

    function addTwoAnswerQuestion() {
        let question = document.createElement("div")
        question.innerHTML = '<input type="text" id="question_' + alreadyCreatedCount + '" class="TextInput" placeholder="Введите текст ' + (alreadyCreatedCount + 1) + '-го вопроса"><label class="LabelText" for="question_' + alreadyCreatedCount + '">Вопрос с двумя вариантами</label>'
        container.appendChild(question);
        container.appendChild(renderAnswer(alreadyCreatedCount, 0,2))
        container.appendChild(renderAnswer(alreadyCreatedCount, 1,2))
        $('#questionModal').modal('hide');
        alreadyCreatedCount++;
    }

    function addThreeAnswerQuestion() {
        let question = document.createElement("div")
        question.innerHTML = '<input type="text" id="question_' + alreadyCreatedCount + '" class="TextInput" placeholder="Введите текст ' + (alreadyCreatedCount + 1) + '-го вопроса"><label class="LabelText" for="question_' + alreadyCreatedCount + '">Вопрос с тремя вариантами</label>'
        container.appendChild(question);
        container.appendChild(renderAnswer(alreadyCreatedCount, 0,3))
        container.appendChild(renderAnswer(alreadyCreatedCount, 1,3))
        container.appendChild(renderAnswer(alreadyCreatedCount, 2,3))

        $('#questionModal').modal('hide');
        alreadyCreatedCount++;
    }

    save.onclick = function ()
    {
        let test = {}
        test["name"] = document.getElementById('test_name').value;
        let questions = []
        for (let i = 0; i < alreadyCreatedCount; i++) {
            let currentQuestionText = document.getElementById('question_'+i.toString()).value
            let firstAnswerText = document.getElementById('question_'+i.toString()+"__answer_0_text").value
            let firstAnswerPoints = document.getElementById('question_'+i.toString()+"__answer_0_points").value
            let firstAnswer = {
                "text": firstAnswerText,
                "points": firstAnswerPoints
            }
            let secondAnswerText = document.getElementById('question_'+i.toString()+"__answer_1_text").value
            let secondAnswerPoints = document.getElementById('question_'+i.toString()+"__answer_1_points").value
            let secondAnswer = {
                "text": secondAnswerText,
                "points": secondAnswerPoints
            }
            let question = {
                "text": currentQuestionText,
                "answers":
                [
                    firstAnswer,
                    secondAnswer
                ]
            }
            try
            {
                let thirdAnswerText = document.getElementById('question_'+i.toString()+"__answer_2_text").value
                let thirdAnswerPoints = document.getElementById('question_'+i.toString()+"__answer_2_points").value
                let thirdAnswer = {
                "text": thirdAnswerText,
                "points": thirdAnswerPoints
                }
                question.answers.push(thirdAnswer)
            }
            catch (e) {

            }
            questions.push(question)

        }
        test['questions'] = (questions)
        let data = JSON.stringify(test)
        $.ajax({
            url: '/add_test/',
            method: 'get',
            data: {test: data}
        });
        document.getElementById('status').style.visibility = 'visible'

    }


</script>
</html>