<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container text-center">
    <h1 class="Title">{{student.full_name}}</h1>
    <table class="table table-dark" id="tests_user_table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Тест</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Резульат</th>
        </tr>
        </thead>
        <tbody id="user_res_tbody">
        {% for test in tests %}
        <tr>
            <th>{{test.test.id}}</th>
            <td>{{test.test.name}}</td>
            <td class="testref">/usr/{{student.id}}/test/{{test.test.id}}</td>
            <td>{{test.result}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="Button ButtonAgree" id="exit">&nbsp &nbsp Выход &nbsp &nbsp</button>
</div>

</body>

</html>

<script>
    let exit_button = document.getElementById('exit')

    exit_button.onclick = function () {
        $.ajax({
            type: "GET",
            url: '/log_out_user',
            success: function () {
                document.location = '/sign_in/'
            },
            error: function () {
                document.location = '/error/'
            }
        });
    }

    let refs = document.getElementsByClassName('testref')

    for(let i = 0; i < refs.length; i++){
        refs[i].onclick = function(){
            document.location = refs[i].innerText;
        }
    }

</script>